cycler==0.10.0
ffmpeg-python==0.2.0
future==0.18.2
kiwisolver==1.1.0
matplotlib==3.1.1
numpy==1.17.3
pandas==0.25.3
pkg-resources==0.0.0
pydub==0.23.1
pyparsing==2.4.4
python-dateutil==2.8.1
pytz==2019.3
scipy==1.10.0
simpleaudio==1.0.2
six==1.13.0
